#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

#onlyChoiceButton {
}

.read-the-docs {
  color: #888;
}

.request-card {
  background-color: #f0f0f0;
  border-radius: 20px;
  height: 50vh;
  width: 50vw;
}

#runningButton {
  position: absolute; /* Allows JavaScript to control position */
  left: 50%;
  top: 50%;
  transition: all 0.3s ease; /* Smooths the movement */
  padding: 10px 20px;
}

.popup {
  width: 400px;
  height: 400px;
  background-image: url("assets/Gemini_Generated_Stitch.png");
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    top 0.3s ease;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
